body {
    margin: 60px auto;
    width: 70%;
}

nav ul,
footer ul {
    font-family: 'Fontin', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #b3549b;
}

nav a {
    color: #9f802a;
}

footer a {
    color: #736335;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    font-family: 'Fontin', 'Arial', 'Sans-Serif';
    font-variant: small-caps;
}

h2 {
    font-size: 1.7em;
    font-family: 'Fontin', 'Arial', 'Sans-Serif';
    font-variant: small-caps;
}

p {
    font-size: 1.3em;
    font-family: 'Fontin', 'Arial', 'Sans-Serif';
    font-variant: normal;
    line-height: 1.3em;
    color: #333;
    text-justify: auto;
}

ul {
    list-style-type: circle;
    font-size: 1.3em;
    line-height: 1.3em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}