<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="google-site-verification" content="0fztkvlNfAiD5jqlEyucza5vrVMAk3sTSEPB_tbcl2A" />
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/#">About</a></li>
        		<li><a href="/research/">Research</a></li>
        		<li><a href="/blog/">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
      
    	{{ content }}
      
		</div><!-- /.container -->
		<footer>
    			<ul>
				<li><a href="mailto:bhaumik.ritam@gmail.com" target="_blank" rel="noopener noreferrer">email</a></li>
				<li><a href="https://github.com/bubka42" target="_blank" rel="noopener noreferrer">github</a></li>
				<li><a href="https://orcid.org/0000-0002-2883-4870" target="_blank" rel="noopener noreferrer">orcid</a></li>
				<li><a href="https://dblp.org/pid/167/3093.html" target="_blank" rel="noopener noreferrer">dblp</a></li>
				<li><a href="https://iacr.org/cryptodb/data/author.php?authorkey=9899" target="_blank" rel="noopener noreferrer">cryptodb</a></li>
				<li><a href="https://www.csauthors.net/ritam-bhaumik/" target="_blank" rel="noopener noreferrer">csauthors</a></li>
				<li><a href="https://www.mathgenealogy.org/id.php?id=263859" target="_blank" rel="noopener noreferrer">genealogy</a></li>
			</ul>
		</footer>
	</body>
</html>
