<!DOCTYPE html>
<html lang="en" data-style="treatise">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }} &middot; Ritam Bhaumik</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
	{% include themes/treatise/head.html %}
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="/sandbox/mainpage-test.html">Home</a></li>
				<li><a href="/sandbox/research-test.html">Research</a></li>
				<li><a href="/sandbox/contact-test.html">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="container">

			{{ content }}

		</div><!-- /.container -->
	</main>
	{% include themes/treatise/footer.html %}
</body>

</html>
